.animate-fade {
  display: block;

  &.ng-enter, &.ng-leave {
    transition: opacity ease-out .3s;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity: 0;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
}
