@keyframes shake {
  0% { transform: translate(5px, 0); }
  50% { transform: translate(-5px, 0); }
  100% { transform: translate(0, 0); }
}

md-dialog.login {
  position: relative;
  background-color: #525c64;

  &.invalid {
    animation: shake .15s 2;
  }

  > div[layout-fill] {
    position: absolute;
    top: 0;
    left: 0;
  }

  > .spinner {
    background-color: #374046;
  }

  > form {
    transition: opacity .3s;

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }

    div[ng-if="invalid"] {
      color: rgb(244,67,54);
    }
  }

  .animate-field {
    overflow: hidden;
    transition: margin-top .3s, height .3s, opacity .3s;

    &.ng-enter, &.ng-leave.ng-leave-active {
      margin-top: -28px;
      height: 0;
      opacity: 0;
    }

    &.ng-leave, &.ng-enter.ng-enter-active {
      margin-top: 0;
      height: 79px;
      opacity: 1;
    }
  }

  [relative] {
    position: relative;
    padding-left: 0.05rem;
    padding-right: 1.3rem;
    overflow: visible;
  }

  .animate-text {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: left .3s, opacity .3s;

    &.ng-enter, &.ng-leave.ng-leave-active {
      opacity: 0;
    }

    &.ng-leave, &.ng-enter.ng-enter-active {
      opacity: 1;
    }

    &.full {
      &.ng-leave-active {
        left: 40px;
      }
    }
  }
}
