user-face {
  display: block;
  position: relative;

  width: 100%;
  height: 100%;

  > button.md-button, > div {
    position: absolute;
    transition: opacity .3s;

    &.ng-enter, &.ng-leave.ng-leave-active {
      opacity: 0;
    }

    &.ng-leave, &.ng-enter.ng-enter-active {
      opacity: 1;
    }
  }
}
