md-card {
  padding: 8px;
  background-color: #ffffff;
}

// Workaround for issue in Chrome where an item inside a flexbox can't have a height of 100%
// https://code.google.com/p/chromium/issues/detail?id=346275
.content {
  display: block;
  height: calc(100vh - 64px);

  ui-view {
    display: block;
    height: calc(100vh - 64px);
  }
}

.hidden {
  display: none;
}

//.active {
//  display: inline-block;
//}

// All other scss files will be injcted here
// injector
// endinjector

///* Basic page transition */
.page-transition.ng-enter, .page-transition.ng-leave {
  -webkit-transition: opacity ease-in-out .3s, width 92s;
  transition: opacity ease-in-out .3s, width 92s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.page-transition.ng-enter, .page-transition.ng-leave.ng-leave-active {
  opacity: 0;
}
.page-transition.ng-enter.ng-enter-active {
  opacity: 1;
  z-index: 9999;
}


.hero-transition.hero-leave {
  visibility: hidden;
}

.hero-transition.ng-leave {
  visibility: visible;
}

.hero-animating {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
  position: absolute;
  z-index: 10000;
}
