$dark-background: true;
@import '../bower_components/material-sass/lib/definitions';

.display-1 {
  @include font-display-1;
  color: $text-color;
  margin: 8px;
}

.headline {
  @include font-headline;
  margin: 8px;
}

.title {
  @include font-title;
  margin: 8px 0;
}

.caption {
  @include font-caption;
}

md-autocomplete {
  z-index: 5;
  height: 48px;
  background-color: #525c64;

  > md-autocomplete-wrap {
    height: 48px;

    input {
      padding: 16px;
      height: 48px;

      color: rgba(255, 255, 255, 0.87);
    }
  }
}

.md-button {
  padding: 8px;
  color: $secondary-text-color;
}

md-card {
  margin: 16px;
  padding: 8px;

  max-width: 600px;

  color: $text-color;
  background-color: #525c64;

  md-toolbar[layout] {
    position: relative;
    box-sizing: content-box;
    margin: 8px -8px -8px -8px;
    padding: 8px;

    border-radius: 0 0 1px 1px;
  }
}

md-content.md-default-theme {
  max-height: 100%;

  color: rgba(255, 255, 255, 0.87);
  background-color: #374046;
}

@keyframes fade-in-background {
  start {
    background-color: transparent;
  }

  end {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

md-dialog.md-default-theme {
  background-color: #525c64;
}

.md-dialog-container {
  background-color: rgba(0, 0, 0, 0.2);

  animation: fade-in-background 0.5s;

  &.ng-leave {
    animation: fade-in-background 0.3s reverse;
  }

  md-dialog {
    width: 40%;
    max-width: 600px;
    min-width: 270px;
  }
}

md-input-container.md-default-theme {
  > label {
    color: rgba(255, 255, 255, 0.30);
  }

  > input.md-input {
    color: rgba(255, 255, 255, 1);
  }

  &.md-input-has-value:not(.md-input-invalid):not(.md-input-focused) {
    > label {
      color: rgba(255, 255, 255, 0.30);
    }
  }
}

.hidden {
  display: none;
}

// All other scss files will be injected here
// injector
// endinjector

// Basic page transition, fades out the old page and fades in the new
.page-transition.ng-enter, .page-transition.ng-leave {
  transition: opacity ease-in-out .3s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.page-transition.ng-enter, .page-transition.ng-leave.ng-leave-active {
  opacity: 0;
}
.page-transition.ng-enter.ng-enter-active {
  opacity: 1;
  z-index: 58;
}

// Hero transition, animate all properties from the odl to the new position
.hero-transition.hero-leave {
  visibility: hidden;
}

.hero-transition.ng-leave {
  visibility: visible;
}

.hero-animating {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
  position: absolute;
  z-index: 59;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

@media (max-width: 960px) {
  md-autocomplete > md-autocomplete-wrap > input {
    padding-left: 40px;
  }
}
