nerby-places {
  > paper-icon {
    position: absolute;
    top: 13px;
    left: 13px;
    z-index: 6;
  }

  > md-content {
    padding-top: 48px;

    > md-autocomplete {
      position: fixed;
      top: 0;
      padding-left: 32px;

      width: 100%;
    }

    > a {
      margin: 0 auto;
      max-width: 600px;

      color: rgba(255, 255, 255, 0.87);
      text-decoration: none;

      > md-card {
        position: relative;

        > h2 {
          margin-top: 0;
        }

        > p {
          margin: 8px;
        }
      }

      & + a > md-card {
        margin-top: 0;
      }
    }
  }

  @media (max-width: 960px) {
    paper-icon {
      left: auto;
      right: 16px;
    }
  }
}
