<md-content>
  <md-autocomplete class="md-whiteframe-z2" md-items="item in []"
                   md-search-text="ctrl.search" placeholder="Search">
  </md-autocomplete>

  <a class="animate-list" ng-repeat="place in ctrl.places track by place.id" ui-sref="place({id: place.id})">
    <md-card hero-on-click="place-{{place.id}}">
      <p hero-id="description">{{place.description}}</p>
      <md-toolbar layout="row" layout-align="start center" class="md-bg-primary">
        <h2 class="headline" hero-id="name" flex>{{place.name}}</h2>
        <star-rating hero-id="rating" rating="place.rating" big></star-rating>
      </md-toolbar>
    </md-card>
  </a>
</md-content>

<fab-hero-transition label="map" icon="maps:map" opened="ctrl.mapOpened">
  <place-map places="ctrl.places" opened="ctrl.mapOpened"></place-map>
</fab-hero-transition>
