nerby-places {
  > md-content {
    padding-top: 40px;

    > md-autocomplete {
      position: fixed;
      top: 0;

      width: 100%;
    }

    > a {
      margin: 0 auto;
      max-width: 600px;

      color: rgba(255, 255, 255, 0.87);
      text-decoration: none;

      > md-card {
        position: relative;

        > h2 {
          margin-top: 0;
        }

        > p {
          margin: 8px;
        }
      }

      & + a > md-card {
        margin-top: 0;
      }
    }
  }
}
