<div>
  <a ng-repeat="review in ctrl.reviews | orderBy: '-timestamp' track by review.id"
     class="animate-list" ui-sref="place({id: review.place_id})">
    <md-card hero-on-click="review-{{review.id}}">
      <div layout="row">
        <p flex hero-id="review-{{review.id}}-description">{{review.description}}</p>
        <star-rating rating="review.rating" hero-id="review-{{review.id}}-rating"></star-rating>
      </div>

      <div layout="row">
        <span flex hero-id="review-{{review.id}}-user">{{review.user.name}}</span>
        <span class="caption" hero-id="review-{{review.id}}-time">
          {{review.updated_at | timeAgo}}
        </span>
      </div>
      <md-toolbar layout="row" layout-align="start center" class="md-bg-primary">
        <h2 class="headline" hero-id="name" flex>{{review.place.name}}</h2>
        <star-rating hero-id="rating" rating="review.place.rating" big></star-rating>
      </md-toolbar>
    </md-card>
  </a>
</div>
