place-detail > md-content {
  > md-toolbar {
    padding: 16px 16px 8px;

    h2.display-1 {
      margin: 0;
    }

    [hero-id="rating"] > span {
      padding-left: 8px;
    }
  }

  > .reviews {
    > .headline {
      margin-top: 48px;
    }

    > md-content {
      background-color: #424A52;

      > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
          > md-divider {
            margin-bottom: 16px;
          }

          > div > p {
            margin-top: 0;
          }

          & + li {
            margin: 16px 0;
          }
        }
      }
    }
  }
}
