<div layout="column">
  <md-toolbar class="hero md-bg-primary md-tall" layout="column">
    <span flex></span>
    <div layout="row" layout-align="start center">
      <h1 class="hero display-1" hero-id="name" flex>{{ctrl.place.name}}</h1>
      <star-rating hero-id="rating" rating="ctrl.place.rating" class="hero"></star-rating>
    </div>
  </md-toolbar>
  <md-content flex>

    <md-content class="md-padding">
      <p class="hero" hero-id="description">{{ctrl.place.description}}</p>

      <span>{{ctrl.place.street}} {{ctrl.place.city}}</span>
    </md-content>

    <div class="reviews">
      <div layout="row">
        <h2 class="headline" flex>Reviews</h2>
        <md-button layout="row" class="md-primary animate-fade"
                   ng-if="!ctrl.newReview && ctrl.gourmet.signedIn" ng-click="ctrl.newReview = true">
          <paper-icon icon="content:create"></paper-icon>
          Write Review
        </md-button>
      </div>

      <md-content class="md-padding">
        <ul>
          <li class="new" ng-if="ctrl.newReview">
            <write-review done="ctrl.createReview" heading="Write Review"></write-review>
          </li>
          <li class="insert-list-animation" ng-repeat="review in ctrl.place.reviews" relative>
            <write-review done="ctrl.editReview" heading="Edit Review" initial="review" ng-if="review.edit"></write-review>
            <div ng-if="!review.edit">
              <div layout="row">
                <p flex hero-id="review-{{review.id}}-description" class="hero">{{review.description}}</p>
                <div layout="row" class="animate-fade" hide-sm
                     ng-if="review.user.name == ctrl.gourmet.signedIn">
                  <md-button layout="row" class="md-accent" ng-click="review.edit = true">
                    <span>Edit</span>
                    <paper-icon icon="image:edit"></paper-icon>
                  </md-button>
                  <md-button layout="row" class="md-accent"
                             ng-click="ctrl.deleteReview(review.id, $event)">
                    <span>Delete</span>
                    <paper-icon icon="action:delete"></paper-icon>
                  </md-button>
                </div>
                <star-rating rating="review.rating" hero-id="review-{{review.id}}-rating" class="hero"></star-rating>
              </div>

              <div layout="row">
                <span flex hero-id="review-{{review.id}}-user" class="hero"><a ui-sref="user({id: review.user.id})">{{review.user.name}}</a></span>
                <span class="caption hero" hero-id="review-{{review.id}}-time">{{review.updated_at | timeAgo}}</span>
              </div>

              <md-divider></md-divider>

              <longclick-menu ng-if="review.user.name == ctrl.gourmet.signedIn">
                <md-button layout="row" ng-click="review.edit = true" layout-align="center center">
                  <paper-icon icon="image:edit"></paper-icon>
                  <span>Edit</span>
                </md-button>
                <md-button layout="row" ng-click="ctrl.deleteReview(review.id, $event)"
                           layout-align="center center">
                  <paper-icon icon="action:delete"></paper-icon>
                  <span>Delete</span>
                </md-button>
              </longclick-menu>
            </div>
          </li>
        </ul>
      </md-content>
    </div>
  </md-content>

  <fab-hero-transition label="map" icon="maps:map" opened="ctrl.mapOpened">
    <place-map places="ctrl.places" opened="ctrl.mapOpened"></place-map>
  </fab-hero-transition>
</div>
