place-detail > md-content {
  > md-toolbar {
    padding: 16px 16px 8px;

    h2.display-1 {
      margin: 0;
    }

    [hero-id="rating"] > span {
      padding-left: 8px;
    }
  }

  > .reviews {
    > .headline {
      margin-top: 48px;
    }

    > md-content {
      background-color: #424A52;

      > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
          margin: 0 auto;
          padding-bottom: 16px;
          max-width: 700px;

          > md-divider {
            padding-bottom: 16px;
          }

          > div > p {
            margin-top: 0;
          }

          a {
            color: rgba(255, 255, 255, 0.87);
            border-bottom: 1px solid transparent;

            text-decoration: none;

            transition: color 0.5s, border-bottom 0.5s;
          }

          span {
            cursor: default;
            user-select: none;
          }

          &:hover a {
            color: rgb(255,64,129);

            border-bottom: 1px solid currentColor;
            transition: color 0.3s, border-bottom 0.3s;
          }
        }
      }
    }
  }
}
