place-detail > div {
  height: 100vh;
  overflow: hidden;

  [relative] {
    position: relative;
  }

  > md-toolbar {
    padding: 16px 16px 8px;

    h2.display-1 {
      margin: 0;
    }

    [hero-id="rating"] > span {
      padding-left: 8px;
    }
  }

  > md-content {
    > .reviews {
      > .headline {
        margin-top: 48px;
      }

      paper-icon[icon="content:create"] {
        margin-right: 8px;
      }

      > md-content {
        background-color: #424A52;

        > ul {
          margin: 0;
          padding: 0;
          list-style: none;

          > li {
            margin: 0 auto;
            padding-top: 16px;
            max-width: 700px;

            > div {

              > md-divider {
                margin-top: 16px;
              }

              > div > p {
                margin-top: 0;
              }

              > div > div > .md-button {
                margin-left: 8px;
                padding: 0;
                height: 24px;

                > span {
                  box-sizing: border-box;
                  padding: 0;
                  max-width: 0;
                  overflow: hidden;
                  cursor: pointer;

                  transition: padding .3s, max-width .3s;
                }

                &:hover {
                  > span {
                    padding: 0 8px;
                    max-width: 70px;
                  }
                }
              }

              star-rating {
                padding-left: 16px;
              }

              a {
                color: rgba(255, 255, 255, 0.87);
                border-bottom: 1px solid transparent;

                text-decoration: none;

                transition: color 0.5s, border-bottom 0.5s;

                &:focus {
                  color: rgb(255, 64, 129);

                  border-bottom: 1px solid currentColor;
                  transition: color 0.3s, border-bottom 0.3s;
                }
              }

              span {
                cursor: default;
                user-select: none;
              }
            }

            &:hover a {
              color: rgb(255, 64, 129);

              border-bottom: 1px solid currentColor;
              transition: color 0.3s, border-bottom 0.3s;
            }

            &:first-of-type {
              padding-top: 0;
            }

            &:last-of-type md-divider {
              display: none;
            }

            &.new {
              margin-bottom: -16px;

              &.ng-enter {
                max-height: 0;
                opacity: 0;
                transform: scaleY(0);
                transition: max-height .5s linear, opacity .5s linear, transform .5s linear;

                &.ng-enter-active {
                  max-height: 106px;
                  opacity: 1;
                  transform: scaleY(1);
                }
              }
            }
          }
        }
      }
    }
  }
}
