<div layout="column">
  <md-toolbar class="md-tall" layout="column">
    <span flex></span>
    <h1 class="display-1">{{ctrl.user.name}}</h1>
  </md-toolbar>
  <md-content flex>

    <div class="reviews">
      <md-content class="md-padding">
        <ul>
          <li class="insert-list-animation" ng-repeat="review in ctrl.user.reviews">
            <div ng-if="!review.edit">
              <div layout="row">
                <p flex hero-id="review-{{review.id}}-description" class="hero">{{review.description}}</p>
                <star-rating rating="review.rating" hero-id="review-{{review.id}}-rating" class="hero"></star-rating>
              </div>

              <div layout="row">
                <span flex hero-id="review-{{review.id}}-user" class="hero">
                  <a ui-sref="place({id: review.place.id})">
                    {{review.place.name}}
                  </a>
                </span>
                <span class="caption hero" hero-id="review-{{review.id}}-time">{{review.updated_at | timeAgo}}</span>
              </div>

              <md-divider></md-divider>
            </div>
          </li>
        </ul>
      </md-content>
    </div>
  </md-content>
</div>
