@keyframes fab-hero-transition {
  from {
    top: auto;
    left: auto;
    right: 20px;
    bottom: 20px;

    width: 56px;
    height: 56px;

    border-radius: 50%;

    transform: translate(0, 0);
  }

  50% {
    right: 50%;
    bottom: 50%;

    transform: translate(50%, 50%);

    width: 200px;
    height: 200px;

    border-radius: 50%;
  }

  87% {
    border-radius: 50%;
  }

  to {
    top: auto;
    left: auto;
    right: 50%;
    bottom: 50%;

    width: 100vmax;
    height: 100vmax;

    border-radius: 0;

    transform: translate(50%, 50%);
  }
}

fab-hero-transition {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;

  > .md-fab {
    pointer-events: all;
  }

  > .md-button.md-fab.animate-fab {
    position: absolute;
    overflow: hidden;

    transition: color .3s;

    &.open {
      top: auto;
      left: auto;
      right: 50%;
      bottom: 50%;

      width: 100vmax;
      height: 100vmax;

      border-radius: 0;

      pointer-events: none;
      transform: translate(50%, 50%);

      &, &:focus, &:hover {
        color: transparent !important;
      }
    }

    &.open-add {
      top: auto;
      left: auto;
      right: 20px;
      bottom: 20px;

      width: 56px;
      height: 56px;

      border-radius: 50%;

      transform: translate(0, 0);

      animation: fab-hero-transition .5s .1s ease-in-out;
    }

    &.open-remove {
      top: auto;
      left: auto;
      right: 50%;
      bottom: 50%;

      width: 100vmax;
      height: 100vmax;

      border-radius: 0;

      transform: translate(50%, 50%);

      animation: fab-hero-transition .4s .1s ease-in-out reverse;
      transition-delay: .3s;
    }
  }

  > .animate-content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 20; // Above FAB

    opacity: 0;
    overflow: hidden;

    pointer-events: none;
    transition: opacity .3s;

    &.open {
      opacity: 1;
      border-radius: 0;

      pointer-events: all;
    }
  }

  > #close-fab {
    background-color: #008000;

    transform: translate3d(0, 0, 0) scale(1);
    transition: transform .2s ease-in;

    &.ng-hide {
      pointer-events: none;
      transform: translate3d(0, 0, 0) scale(0);

      &.ng-hide-remove-active {
        transition-timing-function: ease-out;
      }
    }
  }
}
